---
const tech=[
    {
        id:1,
        name:'JS',
        image:'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png'
    },
    {
        id:2,
        name:'Astro',
        image:'https://static.frontendmasters.com/assets/courses/2023-08-24-astro/thumb.webp'
    },
    {
        id: 3,
        name: 'Tailwind',
        image: 'https://logowik.com/content/uploads/images/tailwind-css3232.logowik.com.webp'
    },
    {
        id: 4,
        name: 'Node js',
        image: 'https://cdn.freebiesupply.com/logos/thumbs/2x/nodejs-1-logo.png'
    },
    {
        id: 5,
        name: 'Docker',
        image: 'https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/97_Docker_logo_logos-512.png'
    },
    {
        id: 6,
        name: 'Mysql',
        image: 'https://pngimg.com/d/mysql_PNG11.png'
    },
    {
        id: 7,
        name: 'Sequelize',
        image: 'https://seeklogo.com/images/S/sequelize-logo-9A5075DB9F-seeklogo.com.png'
    },
    {
        id: 8,
        name: 'React',
        image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/React_Logo_SVG.svg/640px-React_Logo_SVG.svg.png'
    },
    {
        id: 9,
        name: 'Zustand',
        image: 'https://tsh.io/wp-content/uploads/2023/02/zustand-logo.png'
    },
    {
        id: 10,
        name: 'Mongodb',
        image: 'https://newrelic.com/sites/default/files/2021-10/mongo_logo.jpg'
    },
    {
        id: 11,
        name: 'Typescript',
        image: 'https://cdn-icons-png.flaticon.com/512/919/919832.png'
    },
    {
        id: 12,
        name: 'NextJs',
        image: 'https://static-00.iconduck.com/assets.00/nextjs-icon-512x512-y563b8iq.png'
    }
]

const PROJECTS=[
    {
    title:'Food-App',
    description:'Fast food website ',
    tags:tech.filter(e=>e.name=='Node js'||e.name=='Typescript'||e.name=='NextJs'||e.name=="Tailwind"),
    image:'https://res.cloudinary.com/djkmyxefd/image/upload/v1716345391/asdasasdasd_qxgsbv.png',
    gitgub:'https://food-app.sunetya.site/'
},
    {
        title:'Authenticate',
        description:'Jwt authenticate',
        tags:tech.filter(e=>e.name=='Sequelize'||e.name=='Node js'||e.name=='Docker'),
        image:'https://res.cloudinary.com/djkmyxefd/image/upload/v1704914833/fotos/b6iphxvlglkwvorcjeio.png',   
        gitgub:'https://github.com/JW0FSSS/Authenticate'
    },
    {
        title:'X clone',
        description:'Clone of X',
        tags:tech.filter(e=>e.name=='JS'||e.name=='React'||e.name=="Node js"||e.name=="Mysql"),
        image:'https://res.cloudinary.com/djkmyxefd/image/upload/v1712774332/fotos/xclone_mo353v.png' ,
        gitgub:'https://x-phi-blond.vercel.app/'
    },
    {
    title:'Good Games/E-commerce',
    description:'website of a store where technology items are sold',
    tags:tech.filter(e=>e.name=='Node js'||e.name=='Typescript'||e.name=='Mongodb'||e.name=='React'),
    image:'https://res.cloudinary.com/djkmyxefd/image/upload/v1708529031/e-commerce_udgs4j.png',
    gitgub:'https://goodgamesv1.vercel.app/'
    },
]



---

{PROJECTS.map((project,index) => (
    <article class={`border ${index%3==0?'lg:col-span-4':'lg:col-span-2'} p-5 shadow-xl hover:text-white rounded-md transition-all ease-in-out duration-300 hover:scale-110 hover:border-none hover:cursor-pointer hover:backdrop-blur hover:backdrop-filter-[10px] hover:bg-black/90 opacity-0`} >
        <a href={project.gitgub} target="_blank" rel="noopener noreferrer">
            <div class="w-11/12 mx-auto">
                <img src={project.image} alt="Captura del proyecto"  class="rounded-xl w-full object-cover"/>
            </div>
            <div class="w-11/12 mx-auto">
                <h1 class="my-2 text-xl font-bold">{project.title}</h1>
                <p class="my-2">{project.description}</p>
                <div class="flex gap-x-3">
                    {project.tags.map(tag => (
                        <img src={`${tag.image}`} alt="" class="rounded-full w-10 lg:w-12 object-cover"/>
                        ))}
            </div>
            </div>
        </a>
        
    </article>
))}
    
